<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="root">
  </div>
  <script>
    const { createApp, ref, h } = Vue
    const app = createApp({
      setup(props) {
        const count = ref(100)
        const addCount = () => {
          count.value++
        }
        return {
          count,
          addCount
        }
      },
      render() {
        return h('div', null, [
          h('h2', null, `当前计数${this.count}`),
          h('button', {
            onClick: () => {
              this.addCount()
            }
          }, '+1')
        ])
      },
    });
    app.mount('#root')
  </script>
</body>
</html>