<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2 class="counter">0</h2>
  <button id="add">+1</button>
  <button id="sub">-1</button>
  <script>
    const counterEl = document.querySelector(".counter");
    document.querySelector("#add").addEventListener('click', function() {
      counterEl.innerHTML = +counterEl.innerHTML + 1
    })
    document.querySelector('#sub').addEventListener('click', function() {
      counterEl.innerHTML = +counterEl.innerHTML - 1
    })
  </script>
</body>
</html>

