<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./index.js"></script>
</head>
<body>
  <div id="app"></div>
  <script>
    const vNode = h('div', { class: 'aaa' }, [
      h('h2', null, 'hello world'),
      h('button', { onclick: function () {
        console.log('button click')
      }}, 'change text')
    ])
    
    mount(vNode, document.getElementById('app'))
    setTimeout(() => {
      const vNode1 = h('div', {name: 'bbb', id: 'ccc'}, [
        h('h2', null, 'hahhahah')
      ])
      patch(vNode, vNode1)
    }, 2000);
  </script>
</body>
</html>