<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./reactive/index.js"></script>
  <script src="./render/index.js"></script>
  <script src="./index.js"></script>
</head>
<body>
  <div id="app"></div>
  <script>
    const app = {
      data: reactive({ count: 100 }),
      render() {
        return (
          h('div', null, [
            h('div', null, `当前计数${this.data.count}`),
            h('button', {
              onclick: () => {
                console.log('this', this)
                this.data.count++
              }
            }, '+1')
          ])
        )
        
      }
    }
    createApp(app).mount('#app')
  </script>
</body>
</html>